header .navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}
header .navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 15ms ease-in-out;
  transition: all 15ms ease-in-out;
  animation-name: stickyTransition;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
}
@keyframes stickyTransition {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

header .nav-link {
  display: inline-flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 0 1rem !important;
  font-size: 1.25rem;
  transition: all 15ms ease-in-out;
}
header .sticky .nav-link {
  color: black;
}
header .sticky .logo{
    color: #000000;
}

header .nav-link:hover {
  color: #ff9b04;
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}
header .cart {
  position: relative;
  top: -1px;
}
em {
  font-size: 13px;
}
header .roundpoint {
  width: 16px;
  height: 16px;
  background-color: rgb(240, 21, 13);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  line-height: 16px;
  text-align: center;
  font-style: normal;
  position: absolute;
  top: 3.2px;
  right: -8px;
}

.logo {
  font-weight: 900;
  color: #ffffff;
  font-size: 2.2rem;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

@media (max-width: 992px) {
  .logo {
    font-weight: 900;
    color: #000000;
    font-size: 2.2rem;
  }
  header .navbar {
    background-color: #f7ba1e;
  }
  header .navbar-toggler {
    border: none;
  }
  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  header .navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  header .nav-link {
    padding: 1rem !important;
    color: black;
    font-weight: 600;
  }
}
